# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# macOS
.DS_Store

# VS Code / IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Gurobi logs
*.log

# Config Files
.flake8

# Output Folder
output/
